{% extends 'website/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Profile Update {% endblock %}

{% block content %}
<div class="page-content bg-white">
    <!-- contact area -->
    <div class="content-block">
        <!-- Browse Jobs -->
        <section class="content-inner bg-white">
            <div class="container">
                <div class="row">

                    <div class="col-xl-3 col-lg-4 m-b30">
                        <div class="sticky-top">
                            <div class="shop-account">
                                <div class="account-detail text-center">
                                    <div class="my-image">
                                        <a href="javascript:void(0);">
                                            <img alt="" src="{{ user.profile_image.url }}">
                                        </a>
                                    </div>
                                    <div class="account-title">
                                        <div class="">
                                            <h4 class="m-b5"><a href="javascript:void(0);">{{user.username}}</a></h4>
                                            <p class="m-b0"><a href="javascript:void(0);">Book Worm 📚</a></p>
                                        </div>
                                    </div>
                                </div>
                                <ul class="account-list">
                                    <li>
                                        <a href="{% url 'client:dashboard' %}" class="active"><i class="far fa-user"
                                                                                    aria-hidden="true"></i>
                                            <span>Dashboard</span></a>
                                    </li>
                                    <li>
                                        <a href="{% url 'client:order_list' %}"><i class="fa fa-shield"></i>
                                            <span>My Orders</span></a>
                                    </li>
                                    <li>
                                        <a href="{% url 'client:wishlist' %}"><i class="far fa-heart" aria-hidden="true"></i>
                                            <span>Wishlist</span></a>
                                    </li>
                                    <li>
                                        <a href="{% url 'website:cart' %}"><i class="flaticon-shopping-cart-1"></i>
                                            <span>Cart</span></a>
                                    </li>
                                    <li>
                                        <a href="shop-login.html"><i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                                            <span>Log Out</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-8 m-b30">
                        <div class="shop-bx shop-profile">
                            <div class="shop-bx-title clearfix">
                                <h5 class="text-uppercase">Basic Information</h5>
                            </div>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button type="submit" class="btn btn-danger">
                                    <i class="fa fa-check"></i> Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Browse Jobs END -->
    </div>
</div>
{% endblock %}