{% extends 'website/base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{% trans "Change Password" %}{% endblock %}
{% block content %}
<div class="breadcrumb-section">

    </div>
<section class="dashboard-section section-b-space user-dashboard-section m-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                {% include 'client/include/dashboard_navbar.html' %}
                </div>
                <div class="col-lg-9">

                    <div class=" card">
                        <div class="p-2">
                            <form action="{% url 'account_signup' %}" class="" id="login_form" method="post">
                                {% csrf_token %}
                                <h2 class="text-center">{% trans "Password Change" %}</h2>



                                {{ form | crispy }}
                                {% if redirect_field_value %}
                                <input name="{{ redirect_field_name }}" type="hidden"
                                       value="{{ redirect_field_value }}"/>
                                {% endif %}

                                <div class="mt-4 align-right">
                                    <button class="btn btn-success test-center align-center waves-effect waves-light"
                                            type="submit">Change Password
                                    </button>
                                </div>

                            </form>

       <div class="mt-2">
                        <a href="{% url 'account_reset_password' %}"><i
                                class="fa fa-link"></i> {% trans "Forgot Password?" %}</a>
                    </div>
                        </div>

                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
