{% extends 'website/base.html' %}
{% load static %}

{% block content %}
<div class="page-content bg-white">
		<!--banner-->
		<div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm" style="background-image:url(images/background/bg3.jpg);">
			<div class="container">
				<div class="dz-bnr-inr-entry">
					<h1>About us</h1>
					<nav aria-label="breadcrumb" class="breadcrumb-row">
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html"> Home</a></li>
							<li class="breadcrumb-item">About us</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		<!--Our Mission Section-->
		<section class="content-inner overlay-white-middle">
			<div class="container">
				<div class="row about-style1 align-items-center">
					<div class="col-lg-6 m-b30">
						<div class="row sp10 about-thumb">
							<div class="col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
								<div class="split-box">
									<div>
										<img class="m-b30" src="{% static 'images/about/about1.jpg' %}" alt="">
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="split-box ">
									<div>
										<img class="m-b20 aos-item" src="{% static 'images/about/about2.jpg' %}" alt="" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
									</div>
								</div>
								<div class="exp-bx aos-item"  data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
									<div class="exp-head">
										<div class="counter-num">
											<h2><span class="counter">50</span><small>+</small></h2>
										</div>
										<h6 class="title">Years of Experience</h6>
									</div>
									<div class="exp-info">
										<ul class="list-check primary">
											<li>Comics & Graphics</li>
											<li>Biography</li>
											<li>Literary Collections</li>
											<li>Children Fiction</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 m-b30 aos-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
						<div class="about-content px-lg-4">
							<div class="section-head style-1">
								<h2 class="title">Bookland Is Best Choice For Learners</h2>
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration which don’t look even slightly believable. It Is A Long Established Fact That A Reader Will Be Distracted</p>
							</div>
							<a href="contact-us.html" class="btn btn-primary btnhover shadow-primary">Contact Us</a>
						</div>
					</div>
				</div>
			</div>
		</section>


		<!--icon-box3 section-->
		<section class="content-inner-1 bg-light">
			<div class="container">
				<div class="section-head text-center">
					<h2 class="title">Our Mission</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="icon-bx-wraper style-3 m-b30">
							<div class="icon-lg m-b20">
								<i class="flaticon-open-book-1 icon-cell"></i>
							</div>
							<div class="icon-content">
								<h4 class="title">Best Bookstore</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
								<a href="about-us.html">Learn More <i class="fa-solid fa-angles-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="icon-bx-wraper style-3 m-b30">
							<div class="icon-lg m-b20">
								<i class="flaticon-exclusive icon-cell"></i>
							</div>
							<div class="icon-content">
								<h4 class="title">Trusted Seller</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
								<a href="about-us.html">Learn More <i class="fa-solid fa-angles-right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-12">
						<div class="icon-bx-wraper style-3 m-b30">
							<div class="icon-lg m-b20">
								<i class="flaticon-store icon-cell"></i>
							</div>
							<div class="icon-content">
								<h4 class="title">Expand Store</h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
								<a href="about-us.html">Learn More <i class="fa-solid fa-angles-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Testimonial -->
		<section class="content-inner-1 testimonial-wrapper">
			<div class="container">
				<div class="testimonial">
					<div class="section-head book-align">
						<div>
							<h2 class="title mb-0">Testimonials</h2>
							<p class="m-b0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
						</div>
						<div class="pagination-align style-1">
							<div class="testimonial-button-prev swiper-button-prev"><i class="fa-solid fa-angle-left"></i></div>
							<div class="testimonial-button-next swiper-button-next"><i class="fa-solid fa-angle-right"></i></div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-container testimonial-swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="testimonial-1">
							<div class="testimonial-info">
								<ul class="dz-rating">
									<li><i class="flaticon-star text-yellow"></i></li>
									<li><i class="flaticon-star text-yellow"></i></li>
									<li><i class="flaticon-star text-yellow"></i></li>
									<li><i class="flaticon-star text-yellow"></i></li>
									<li><i class="flaticon-star text-yellow"></i></li>
								</ul>
								<div class="testimonial-text">
									<p>Very impresive store. Your book made studying for the ABC certification exams a breeze. Thank you very much</p>
								</div>
								<div class="testimonial-detail">
									<div class="testimonial-pic">
										<img src="{% static 'images/testimonial/testimonial1.jpg' %}" alt="">
									</div>
									<div class="info-right">
										<h6 class="testimonial-name">Jason Huang</h6>
										<span class="testimonial-position">Book Lovers</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="testimonial-1">
							<div class="testimonial-info">
								<ul class="dz-rating">
									<li><i class="flaticon-star text-yellow"></i></li>
									<li><i class="flaticon-star text-yellow"></i></li>
									<li><i class="flaticon-star text-yellow"></i></li>
									<li><i class="flaticon-star text-yellow"></i></li>
									<li><i class="flaticon-star text-muted"></i></li>
								</ul>
								<div class="testimonial-text">
									<p>Very impresive store. Your book made studying for the ABC certification exams a breeze. Thank you very much</p>
								</div>
								<div class="testimonial-detail">
									<div class="testimonial-pic radius">
										<img src="{% static 'images/testimonial/testimonial2.jpg' %}" alt="">
									</div>
									<div>
										<h6 class="testimonial-name">Miranda Lee</h6>
										<span class="testimonial-position">Book Lovers</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="testimonial-1">
							<div class="testimonial-info">
								<ul class="dz-rating">
									<li><i class="flaticon-star text-yellow"></i></li>
									<li><i class="flaticon-star text-yellow"></i></li>
									<li><i class="flaticon-star text-yellow"></i></li>
									<li><i class="flaticon-star text-muted"></i></li>
									<li><i class="flaticon-star text-muted"></i></li>
								</ul>
								<div class="testimonial-text">
									<p>Very impresive store. Your book made studying for the ABC certification exams a breeze. Thank you very much</p>
								</div>
								<div class="testimonial-detail">
									<div class="testimonial-pic radius">
										<img src="{% static 'images/testimonial/testimonial3.jpg' %}" alt="">
									</div>
									<div>
										<h6 class="testimonial-name">Steve Henry</h6>
										<span class="testimonial-position">Book Lovers</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="testimonial-1">
							<div class="testimonial-info">
								<ul class="dz-rating">
									<li><i class="flaticon-star text-yellow"></i></li>
									<li><i class="flaticon-star text-yellow"></i></li>
									<li><i class="flaticon-star text-yellow"></i></li>
									<li><i class="flaticon-star text-yellow"></i></li>
									<li><i class="flaticon-star text-muted"></i></li>
								</ul>
								<div class="testimonial-text">
									<p>Thank you for filling a niche at an affordable price. Your book was just what I was looking for. Thanks again</p>
								</div>
								<div class="testimonial-detail">
									<div class="testimonial-pic radius">
										<img src="{% static 'images/testimonial/testimonial4.jpg' %}" alt="">
									</div>
									<div>
										<h6 class="testimonial-name">Angela Moss</h6>
										<span class="testimonial-position">Book Lovers</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="testimonial-1">
							<div class="testimonial-info">
								<ul class="dz-rating">
									<li><i class="flaticon-star text-yellow"></i></li>
									<li><i class="flaticon-star text-yellow"></i></li>
									<li><i class="flaticon-star text-yellow"></i></li>
									<li><i class="flaticon-star text-yellow"></i></li>
									<li><i class="flaticon-star text-muted"></i></li>
								</ul>
								<div class="testimonial-text">
									<p>Very impresive store. Your book made studying for the ABC certification exams a breeze. Thank you very much</p>
								</div>
								<div class="testimonial-detail">
									<div class="testimonial-pic radius">
										<img src="{% static 'images/testimonial/testimonial2.jpg' %}" alt="">
									</div>
									<div>
										<h6 class="testimonial-name">Miranda Lee</h6>
										<span class="testimonial-position">Book Lovers</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="testimonial-1">
							<div class="testimonial-info">
								<ul class="dz-rating">
									<li><i class="flaticon-star text-yellow"></i></li>
									<li><i class="flaticon-star text-yellow"></i></li>
									<li><i class="flaticon-star text-yellow"></i></li>
									<li><i class="flaticon-star text-muted"></i></li>
									<li><i class="flaticon-star text-muted"></i></li>
								</ul>
								<div class="testimonial-text">
									<p>Very impresive store. Your book made studying for the ABC certification exams a breeze. Thank you very much</p>
								</div>
								<div class="testimonial-detail">
									<div class="testimonial-pic">
										<img src="{% static 'images/testimonial/testimonial1.jpg' %}" alt="">
									</div>
									<div class="info-right">
										<h6 class="testimonial-name">Jason Huang</h6>
										<span class="testimonial-position">Book Lovers</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Testimonial End -->



	
		<!-- Newsletter -->
		<section class="py-5 newsletter-wrapper" style="background-image: url('images/background/bg1.jpg'); background-size: cover;">
			<div class="container">
				<div class="subscride-inner">
					<div class="row style-1 justify-content-xl-between justify-content-lg-center align-items-center text-xl-start text-center">
						<div class="col-xl-7 col-lg-12">
							<div class="section-head mb-0">
								<h2 class="title text-white my-lg-3 mt-0">Subscribe our newsletter for newest books updates</h2>
							</div>
						</div>
						<div class="col-xl-5 col-lg-6">
							<form class="dzSubscribe style-1" action="https://bookland.dexignzone.com/xhtml/script/mailchamp.php" method="post">
								<div class="dzSubscribeMsg"></div>
								<div class="form-group">
									<div class="input-group mb-0">
										<input name="dzEmail" required="required" type="email" class="form-control bg-transparent text-white" placeholder="Your Email Address">
										<div class="input-group-addon">
											<button name="submit" value="Submit" type="submit" class="btn btn-primary btnhover">
												<span>SUBSCRIBE</span>
												<i class="fa-solid fa-paper-plane"></i>
											</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Newsletter End -->

	</div>
{% endblock content %}
