{% extends  'website/base.html' %}
{% load static %}
{% block content %}
<section class="about-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-section"></div>
            </div>
            <div class="col-sm-12">

                <h3> Work with us!</h3>
<p>Here in Monogatari Novels we are eager to hire people qualified for the production and edition
    of light novels and manga whenever we require it.
Right now we are looking for:</p><br>
                <b>We regret to inform you we are not hiring anybody at the moment!</b>

            </div>
        </div>
    </div>
</section>

{% endblock content %}