{% extends  'website/base.html' %}
{% load static %}
{% block content %}
<div class="page-content">
			<!-- inner page banner -->
			<div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm" style="background-image:url(images/background/bg3.jpg);">
				<div class="container">
					<div class="dz-bnr-inr-entry">
						<h1>Privacy Policy</h1>
						<nav aria-label="breadcrumb" class="breadcrumb-row">
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html"> Home</a></li>
								<li class="breadcrumb-item">Privacy Policy</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!-- inner page banner End-->

			<!-- contact area -->
			<section class="content-inner-1 shop-account">
				<div class="container">
					<div class="row">
						<!-- Left part start -->
						<div class="col-lg-8 col-md-7 col-sm-12 inner-text">
							<h4 class="title">The DexignZone Privacy Policy was updated on 20 July 2022.</h4>
							<p class="m-b30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,<a href="contact-us.html"> Contact Us </a>and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							<div class="dlab-divider bg-gray-dark"></div>
							<h4 class="title">Who We Are and What This Policy Covers</h4>
							<p class="m-b30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

							<h4 class="title">What personal information we collect</h4>
							<ul class="list-check primary m-a0">
								<li>The DexignLab Privacy Policy was updated on 25 June 2018. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's </li>
								<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
								<li>Remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
								<li>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>
								<li>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</li>

							</ul>
						</div>
						<div class="col-lg-4 col-md-5 col-sm-12 m-b30 mt-md-0 mt-4">
							<aside class="side-bar sticky-top right">
								<div class="service_menu_nav widget style-1">
									<ul class="menu">
										<li class="menu-item"><a href="about-us.html">About Us</a></li>
										<li class="menu-item active"><a href="privacy-policy.html">Privacy Policy</a></li>
										<li class="menu-item "><a href="help-desk.html">Help Desk</a></li>
										<li class="menu-item"><a href="contact-us.html">Contact Us</a></li>
									</ul>
								</div>
							</aside>
						</div>
					</div>
				</div>
			</section>
            <!-- Privacy Policy END -->
		</div>

{% endblock content %}