{% extends  'website/base.html' %}
{% load static %}
{% block content %}
<section class="about-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-section"></div>
            </div>
            <div class="col-sm-12">
                <h3>RETURN POLICY</h3>

                <p>Last updated May 05, 2023

                <p>Thank you for your purchase. We hope you are happy with your purchase.</p></p>
                <p>However, if you are not completely satisfied with your purchase for any reason, you
                    may return it to us for a full refund or an exchange. Please see below for more
                    information on our return policy.</p></p>
                <h4>RETURNS</h4>
                <p>All returns must be postmarked within thirty (30) days of the purchase date. All
                    returned items must be in new and unused condition, with all original tags and
                    labels attached.</p></p>
                <h4>RETURN PROCESS</h4>
                <p>To return an item, please email customer service at help@monogataried.com to
                    obtain a Return Merchandise Authorization (RMA) number. After receiving a RMA
                    number, place the item securely in its original packaging and include your proof of
                    purchase, then mail your return to the following address:</p>
                <p>Monogatari Media Editorial SL</p>
                <p>Attn: Returns</p>
                <p>RMA #</p>
                <p>C/Girona 148 1-2</p>
                <p>Girona, Catalunya 17001</p>
                <p>Spain</p>
                <p>Return shipping charges will be paid or reimbursed by us.</p>
                <h4>REFUNDS</h4>
                <p>After receiving your return and inspecting the condition of your item, we will process
                    your return or exchange. Please allow at least thirty (30) days from the receipt of
                    your item to process your return or exchange. We will notify you by email when
                    your return has been processed.</p>
                <h4>EXCEPTIONS</h4>
                <p>The following items cannot be returned or exchanged:</p>
                <p>● Items manipulated or damaged by customers</p>
                <p>● Items damaged by third party delivery</p>

                <p>For defective or damaged products, please contact us at the contact details below
                    to arrange a refund or exchange.</p>
                <h4>Please Note</h4>
                <p>● Please note that we can’t do refunds or exchange of products you bought
                    from local stores or third-party sites.</p>
                <p>● You must contact to the responsible store or distribution company to inquire
                    a refund or exchange. We limited our refunds and exchanges to products you got
                    only throught our store.</p>
                <h4>QUESTIONS</h4>
                <p>If you have any questions concerning our return policy, please contact us at:
                    help@monogataried.com</p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}