{% extends  'website/base.html' %}
{% load static %}
{% block content %}
<section class="about-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-section"></div>
            </div>
            <div class="col-sm-12">
                <h4>SHIPPING & DELIVERY POLICY</h4>
                <p>Last updated May 05, 2023</p>
                <p>This Shipping & Delivery Policy is part of our Terms and Conditions («Terms») and should
                    be therefore read alongside our main Terms: http://www.monogatari-novels.com/terms-
                    and-conditions/.</p>
                <p>Please carefully review our Shipping & Delivery Policy when purchasing our products. This
                    policy will apply to any order you place with us.</p>
                <h4>WHAT ARE MY SHIPPING & DELIVERY OPTIONS?</h4>
                <p>We offer various shipping options. In some cases, a third-party supplier may be managing
                    our inventory and will be responsible for shipping your products.</p>
                <h4>Free Shipping</h4>
                <p>We offer free standard shipping on orders over $40.</p>
                <h4>Expedited Shipping Fees</h4>
                <p>We also offer expedited shipping at the following rates:</p>
                <p>Shipping Method and Fees</p><br>
                <h5>Standard</h5>
                <p>5.99$
                    2-4 Weeks</p><br>
                <h5>Premium</h5>
                <p>3-5 Business
                    Days 9.99$</p><br>
                <p>If you select an expedited shipping option, we will follow up after you have placed the order
                    with any additional shipping information.</p>
                <p>All times and dates given for delivery of the products are given in good faith but are
                    estimates only.</p>
                <p>For EU and UK consumers: This does not affect your statutory rights. Unless specifically
                    noted, estimated delivery times reflect the earliest available delivery, and deliveries will be
                    made within 30 days after the day we accept your order. For more information, please refer
                    to our Terms.</p>
                <h4>DO YOU DELIVER INTERNATIONALLY?</h4>
                <p>Yes, we do through our official distributors. If you’re from a country or region outside USA
                    or Canada, please reach us to shipping@monogataried.com and tell us the name of your
                    country to get more information. Free standard shipping is valid only in USA and
                    Canada.</p>
                <p>For information about customs process:</p>
                <p> Email help@monogataried.com</p>
                <p>Please note, we may be subject to various rules and restrictions in relation to some
                    international deliveries and you may be subject to additional taxes and duties over which
                    we have no control. If such cases apply, you are responsible for complying with the laws
                    applicable to the country where you live and will be responsible for any such additional
                    costs or taxes.</p>
                <h4>WHAT HAPPENS IF MY ORDER IS DELAYED?</h4>
                <p>If delivery is delayed for any reason we will let you know as soon as possible and will
                    advise you of a revised estimated date for delivery.
                    For EU and UK consumers: This does not affect your statutory rights. For more information
                    please refer to our Terms.</p>
                <h4>QUESTIONS ABOUT RETURNS?</h4>
                <p>If you have questions about returns, please review our Return
                    Policy: http://www.monogatari-novels.com/return-policy/.</p>
                <h4>HOW CAN YOU CONTACT US ABOUT THIS POLICY?</h4>
                <p>If you have any further questions or comments, you may contact us by:
                     Email: shipping@monogataried.com</p>


            </div>
        </div>
    </div>
</section>

{% endblock content %}