{% load static %}

<!-- footer -->
<footer class="bg-img-gym overlay-cls effect-cls footer-effect">
    <img alt="" class="bg-img blur-up lazyload" src="{% static 'website/bg/bottom.jpg' %}">
    <div class="dark-layout">
        <div class="container">
            <section class="section-b-space border-b">
                <div class="row footer-theme2">
                    <div class="col-lg-3">
                        <div class="footer-title footer-mobile-title">
                            <h4>about</h4>
                        </div>
                        <div class="footer-contant">
                            <div class="footer-logo">
                                <img alt="" height="100" src="{% static 'website/logos/logo-dark.png' %}">
                            </div>
                            <p>Monogatari Novels is a light novel and manga's editor/publisher located in Barcelona,
                                Spin. We bring
                                both kind of Japenese Media into English and Spanish with high quality and
                                transparency. </p>
                        </div>
                    </div>
                    <div class="col-lg-6 subscribe-wrapper">
                        <div class="subscribe-block">
                            <h2>newsletter</h2>
                            <form>
                                <div class="form-group">
                                    <input class="form-control" id="exampleFormControlInput3"
                                           placeholder="Enter your email"
                                           type="text">
                                    <button class="btn btn-solid " type="submit">subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="footer-title">
                            <h4>store information</h4>
                        </div>
                        <div class="footer-contant">
                            <ul class="contact-details">
                                <li>Monogatari Media Editorial SL</li>
                                General Inqueries: help@monogataried.com<br>
                                Light Novel Inqueries: lightnovel@monogataried.com<br>
                                Manga Inqueries: manga@monogataried.com<br>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="dark-layout">
        <div class="container">
            <section class="small-section">
                <div class="row footer-theme2">
                    <div class="col p-set">
                        <div class="footer-link">
                            <div class="footer-title">
                            </div>
                            <div class="footer-contant">
                                <ul>
                                    <li><a href="{% url 'website:privacy' %}">Privacy Policy</a></li>
                                    <li><a href="{% url 'website:cookie' %}">Cookie Policy</a></li>
                                    <li><a href="{% url 'website:terms' %}">Terms and conditions</a></li>
                                    <li><a href="{% url 'website:return_policy' %}">Return Policy</a></li>
                                    <li><a href="{% url 'website:shipping_policy' %}">Shipping Policy</a></li>
                                    <li><a href="{% url 'website:jobs' %}">Jobs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="sub-footer darker-subfooter">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-6 col-sm-12">
                    <div class="footer-end">
                        <p><i aria-hidden="true" class="fa fa-copyright"></i> All Rights reserved - &copy; copyright
                            2023 - {% now 'Y' %} - Developed and Designed by <a class="text-danger"
                                                                                href="https://exarth.com/">Exarth</a>
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12">
                    <div class="payment-card-bottom">
                        <ul>

                            <li>
                                <a href="#"><img alt="" class="mb-4"
                                                 height="100px"
                                                 src="{% static 'website/bg/pay.png' %}"></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
