<div class="left-sidenav">
    <ul class="metismenu left-sidenav-menu" id="side-nav">
        <li class="menu-title">General</li>

        <li>
            <a href="{% url 'admins:dashboard' %}">
                <i class="mdi mdi-view-dashboard"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="menu-title">SHIFTS AND SCHEDULE</li>
        <li>
            <a href="{% url 'admins:user-list' %}">
                <i class="fa fa-user"></i>
                <span>Users</span>
            </a>
        </li>

    </ul>
</div>