{% extends 'admins/base.html' %}
{% load static %}
{% load custom_tags %}

{% block base_subtitle %}
    Posts
{% endblock %}

{% block base_subhead_heading %} Post &rAarr; Management{% endblock %}
{% block base_subhead_paragraph %}All available posts{% endblock %}

{% block base_subhead_button %}
    <a class="btn btn-primary" href="{% url 'admins:post-add' %}">
        <i class="fa fa-pen"></i>&nbsp;Write New
    </a>
{% endblock %}

{% block base_content %}

    <div class="row">

        <div class="mt-2 mb-4">
            <form method="get">
                <div class="input-group">
                    {{ filter_form }}
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fa fa-search"></i>&nbsp;Search
                        </button>
                        <a href="{% url 'admins:post-list' %}" class="btn btn-danger">
                            <i class="fa fa-paint-brush"></i>&nbsp;Clear
                        </a>
                    </div>
                </div>
            </form>
        </div>

        {% if object_list %}
            {% for object in object_list %}
                <div class="col-md-6 col-lg-4">
                    <div class="card mb-3">
                        <a href="{% url 'admins:post-detail' object.pk %}">
                            <div class="img-responsive card-img-top"
                                 style="background-image: url(
                                         {% if object.thumbnail_image %}{{ object.thumbnail_image.url }}{% else %}'{% static 'required/images/no-image-product-portrait.jpg' %}'{% endif %})">
                            </div>
                        </a>
                        {% if object.status == 'publish' %}
                            <div class="ribbon ribbon-top ribbon-bookmark bg-green">
                                <i class="fa fa-check"></i>
                            </div>
                        {% else %}
                            <div class="ribbon ribbon-top ribbon-bookmark bg-primary">
                                <i class="fa fa-times"></i>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <a href="{% url 'admins:post-detail' object.pk %}" class="text-decoration-none">
                                <h3 class="card-title">{{ object.title|truncatechars:50 }}</h3>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="">
                                <div class="row">
                                    <div class="col-6">
                                        <b><i class="bx bx-book"></i>{{ object.read_time }}</b>
                                    </div>
                                    <div class="col-6">
                                        <b><i class="bx bx-mouse"></i>{{ object.visits }}</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-danger">
                <b>
                    <i class="fa fa-exclamation-circle"></i> No posts available for now.
                </b>
            </p>
        {% endif %}

        {% if object_list %}
            <div class="mt-3">
                <ul class="pagination">
                    {% if object_list.has_previous %}
                        <li>
                            <span>
                                <a href="{% relative_url object_list.previous_page_number 'page' request.GET.urlencode %}">
                                    Previous
                                </a>
                            </span>
                        </li>
                    {% endif %}
                    <li class="">
                        <span>Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.</span>
                    </li>
                    {% if object_list.has_next %}
                        <li>
                            <span>
                                <a href="{% relative_url object_list.next_page_number 'page' request.GET.urlencode %}">
                                    Next
                                </a>
                            </span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}

    </div>

{% endblock %}

{% block base_external_scripts %}
    <script>
        $(document).ready(function () {

            $("#id_status option:first").text("-- Status --");

            $('label').hide();
            $('input').addClass('form-control');
            $('select').addClass('form-control');

        });
    </script>
{% endblock %}