{% extends 'admins/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_subtitle %}Post Category Delete{% endblock %}
{% block base_subhead_heading %}Post Category &rAarr; Delete {% endblock %}
{% block base_subhead_paragraph %}Delete Post Category permanently{% endblock %}
{% block base_subhead_button %}
    <a href="{% url 'admins:post-category-list' %}">&larr; Post Categories</a>
{% endblock %}

{% block base_content %}

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">

                    <form method="post">{% csrf_token %}
                        <p class="mb-2">Are you sure you want to delete <b class="text-danger">"{{ object }}"</b>?</p>
                        <input type="submit" class="btn btn-danger" value="Confirm">
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}