{% extends 'admins/base.html' %}
{% load static %}
{% load custom_tags %}
{% load crispy_forms_tags %}

{% block base_subtitle %}
{{ object.name }} Details
{% endblock %}

{% block base_subhead_heading %} {{ object.name }}{% endblock %}
{% block base_subhead_paragraph %}Details description of product{% endblock %}

{% block base_subhead_button %}
<a class="btn btn-link" href="{% url 'admins:product-list' %}">
    <i class="fa fa-arrow-left"></i>&nbsp;Products
</a>
<a class="btn btn-outline-primary" href="{% url 'admins:product-update' object.pk %}">
    <i class="fa fa-plus"></i>&nbsp;Edit
</a>
<a class="btn btn-outline-danger" href="{% url 'admins:product-delete' object.pk %}">
    <i class="fa fa-plus"></i>&nbsp;Delete
</a>
{% endblock %}

{% block base_content %}

<div class="">
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4">
                                {% if object.thumbnail_image %}
                                <img id="main-image" src="{{ object.thumbnail_image.url }}"/>
                                {% else %}
                                <img id="main-image"
                                     src="{% static 'required/images/no-image-product-portrait.jpg' %}"/>
                                {% endif %}
                            </div>
                            <div class="thumbnail text-center">
                                <div class="row justify-content-center">
                                    <div class="col-auto">
                                        {% if object.thumbnail_image %}
                                        <img height="100"
                                             onclick="change_image(this)"
                                             src="{{ object.thumbnail_image.url }}" width="auto">
                                        {% else %}
                                        <img height="100"
                                             onclick="change_image(this)"
                                             src="{% static 'required/images/no-image-product-portrait-small.jpg' %}"
                                             width="auto">
                                        {% endif %}
                                    </div>
                                    {% for image in object.get_images %}
                                    <div class="col-auto">
                                        <img height="100"
                                             onclick="change_image(this)"
                                             src="{{ image.image.url }}" width="auto">
                                        <h3><a class="text-danger"
                                               href="{% url 'admins:product-image-delete' object.pk image.pk %}"><i
                                                class="fa fa-trash"></i></a></h3>
                                    </div>
                                    {% endfor %}
                                    {# Platform #}
                                    <div class="mb-3 mt-5 row">
                                        <div class="mb-0">
                                            <div class="card-title">
                                                Other Platforms
                                            </div>
                                        </div>
                                        {% if object.product_platform %}

                                        <div class="row">

                                            {% for platform in object.product_platform.all %}
                                            <div class="col-sm-6">
                                                <div class="card card-sm">
                                                    <div class="card-status-top bg-success"></div>
                                                    <div class="card-body">
                                                        <div class="mt-4">
                                                            <div class="col">

                                                                <div class="col-auto">
                                                                    <img src="{{platform.image.url}}">
                                                                </div>
                                                                <div class="col-auto">
                                                                    <a class="text-danger"
                                                                       href="{% url 'admins:product-other-delete' object.pk platform.pk %}">
                                                                        <i class="fa fa-trash"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        <p class="mb-0 text-danger">
                                            <b>Other Platforms Not Offer.</b>
                                        </p>
                                        {% endif %}
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-4 mt-xl-4 px-4">

                            {# NAME #}
                            <a class="text-primary" href="/">
                                <b>{{ object.get_book_type_display }}</b>
                            </a>
                            <h4 class="mt-1 mb-2">{{ object.name }}</h4>
                            <div class="mb-4">
                                {% for cat in object.categories.all %}
                                <span class="badge bg-success-lt">
                                           {{ cat.name }}
                                        </span>
                                {% endfor %}
                            </div>

                            {# DESCRIPTION #}
                            <p class="text-muted mb-4">
                                {{ object.description }}
                            </p>

                            {# AVAILABLE IN #}
                            <div class="mb-3 row">
                                <div class="mb-0">
                                    <div class="card-title">
                                        Available in
                                    </div>
                                </div>
                                <div class="mb-4">
                                    {% for lang in object.languages.all %}
                                    <span class="badge bg-purple-lt">
                                           {{ lang.name }}
                                        </span>
                                    {% endfor %}
                                </div>
                            </div>

                            {# ORIGIN #}
                            <div class="mb-3 row">
                                <div class="mb-1">
                                    <div class="card-title">
                                        Origin
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <div class="mb-2">
                                            <i class="fa fa-paint-brush"></i>
                                            Artist: <strong>{{ object.artist }}</strong>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="mb-2">
                                            <i class="fa fa-book"></i>
                                            Author: <strong>{{ object.author }}</strong>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="mb-2">
                                            <i class="fa fa-smile"></i>
                                            Translator: <strong>{{ object.translator }}</strong>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div>
                                        <div class="mb-2">
                                            <i class="fa fa-book-reader"></i>
                                            Pages: <strong>{{ object.pages }}</strong>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="mb-2">
                                            <i class="fa fa-mouse-pointer"></i>
                                            Clicks: <strong>{{ object.clicks }}</strong>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="mb-2">
                                            <i class="fa fa-cart-plus"></i>
                                            Sales: <strong>{{ object.sales }}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>
                            {# VERSIONS #}
                            <div class="mb-3 row">
                                <div class="mb-0">
                                    <div class="card-title">
                                        Versions
                                    </div>
                                </div>
                                {% if object.get_versions %}

                                <div class="row">
                                    {% for version in object.get_versions %}

                                    <div class="col-sm-6">
                                        <div class="card card-sm">
                                            <div class="card-status-top bg-success"></div>
                                            <div class="card-body">
                                                <dl class="row">
                                                    <dt class="col-5">Type</dt>
                                                    <dd class="col-7">{{ version.version.name }}</dd>
                                                    <dt class="col-5">ISBN</dt>
                                                    <dd class="col-7">{{ version.isbn }}</dd>
                                                    <dt class="col-5">Price</dt>
                                                    <dd class="col-7">$ {{ version.price }}</dd>
                                                </dl>
                                                <div class="mt-4">
                                                    <div class="row">
                                                        <div class="col">
                                                        </div>
                                                        <div class="col-auto">
                                                            <a class="link-muted"
                                                               data-bs-target="#modal-version-update-{{ version.pk }}"
                                                               data-bs-toggle="modal"
                                                               href="{% url 'admins:product-version-update' object.pk version.pk %}">
                                                                <i class="fa fa-edit"></i>
                                                            </a>
                                                        </div>
                                                        <div class="col-auto">
                                                            <a class="text-danger"
                                                               href="{% url 'admins:product-version-delete' object.pk version.pk %}">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% else %}
                                <p class="mb-0 text-danger">
                                    <b>No versions available.</b>
                                </p>
                                {% endif %}
                            </div>

                            <hr>
                            {# ACTIONS #}
                            <div class="row">
                                <div class="mb-0">
                                    <div class="card-title">
                                        Actions
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-success" data-bs-target="#modal-version-add"
                                            data-bs-toggle="modal" type="button">
                                        <i class="fa fa-link"></i>&nbsp;Add Version
                                    </button>

                                    <button class="btn btn-success" data-bs-target="#modal-platform-add"
                                            data-bs-toggle="modal" type="button">
                                        <i class="fa fa-link"></i>&nbsp;Add Platforms
                                    </button>
                                    <button class="btn btn-success" data-bs-target="#modal-image-add"
                                            data-bs-toggle="modal" type="button">
                                        <i class="fa fa-image"></i>&nbsp;Add Image
                                    </button>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{# VERSION MODELS #}
<div class="modal modal-blur fade hide" id="modal-version-add" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <form action="{% url 'admins:product-version-add' object.pk %}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Product Version</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">

                    {% csrf_token %}
                    {{ product_version_add_form|crispy }}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary ms-auto" type="submit">
                        <i class="fa fa-check"></i>&nbsp;Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% for product_version_form in product_version_forms %}
<div class="modal modal-blur fade hide" id="modal-version-update-{{ product_version_form.instance.id }}"
     role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <form action="{% url 'admins:product-version-update' object.pk product_version_form.instance.id %}"
              method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Product Version</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {{ product_version_form|crispy }}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary ms-auto" type="submit">
                        <i class="fa fa-check"></i>&nbsp;Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{# MODELS IMAGES #}
<div class="modal modal-blur fade hide" id="modal-platform-add" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <form action="{% url 'admins:product-other-add' object.pk %}" enctype="multipart/form-data"
              method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Other Selling Platform</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">

                    {% csrf_token %}
                    {{ platform_form|crispy }}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary ms-auto" type="submit">
                        <i class="fa fa-check"></i>&nbsp;Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal modal-blur fade hide" id="modal-image-add" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <form action="{% url 'admins:product-image-add' object.pk %}" enctype="multipart/form-data"
              method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Product Image</h5>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">

                    {% csrf_token %}
                    {{ product_image_add_form|crispy }}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary ms-auto" type="submit">
                        <i class="fa fa-check"></i>&nbsp;Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endfor %}


{% endblock %}

{% block base_external_scripts %}
<script>
        function change_image(image) {
            var container = document.getElementById("main-image");
            container.src = image.src;
        }

        document.addEventListener("DOMContentLoaded", function (event) {
        });


</script>
{% endblock %}